body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.data-placeholder {
  color: #969696;
  font-style: italic;
}

.homepage-container-key {
  font-weight: 800;
}

.not-available-placeholder {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
